/* Özel Renkler */
.bg-purple {
  background-color: #6a1b9a; /* Mor tema */
}

.btn-pink {
  background-color: #ff4081; /* Pembe renk */
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #e91e63; /* Hover rengi */
}

/* Logo Stili */
.logo {
  max-width: 100px;
  height: auto;
}

.slider {
  height: 60vh; /* Ekranın %60'ını kaplar */
}

.carousel-inner img {
  max-height: 100%;
  object-fit: cover; /* Görselleri ortalar ve taşmayı önler */
  border-radius: 10px; /* Görsellerin köşelerini yuvarlar */
}

