/* Özel Renkler */
.bg-purple {
  background-color: #6a1b9a; /* Mor tema */
}

.btn-pink {
  background-color: #ff4081; /* Pembe renk */
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #e91e63; /* Hover rengi */
}

/* Logo Stili */
.logo {
  max-width: 100px;
  height: auto;
}

/* Slider Stili */
.carousel-item img {
  border-radius: 10px;
}
